.input-container {
    position: relative;
    margin: 0.4rem 0;
    width: 100%;

    .floating-label {
        position: absolute;
        top: 50%;
        left: 0.5rem;
        transform: translateY(-50%);
        font-size: 0.8rem;
        color: $text-color;
        pointer-events: none;
        transition: all 0.2s ease;
        z-index: 1;
        color: $text-color-input;
        /*    .required-asterisk {
            position: absolute;
       
            right: 1.5rem;
           transform: none;
            color: red;
            font-size: 1rem;
          } */
    }

    &.focused .floating-label {
        top: -0.5rem;
        left: 0.5rem;
        font-size: 0.6rem;
        color: $text-color-input-focus;
    }

}

.input-field {
    border: none;
    border-radius: 0.1rem;
    padding: 0.35rem 0.5rem;
    font-size: 0.8rem;
    outline: none;
    color: $text-color;
    border-radius: 0.3rem;

    &:hover {
        opacity: 0.9;

        .floating-label {
            color: $text-color2-hover;
        }
    }

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px $bg-3-color inset;
        -webkit-text-fill-color: $text-color;
    }
}